<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>erpillicopresta</name>
	<displayName><![CDATA[1 Click ERP Illicopresta]]></displayName>
	<version><![CDATA[3.0.2]]></version>
	<description><![CDATA[Save time ! Optimize customer and suppliers orders treatment, set up suppliers sheets and manage your stock and inventory.]]></description>
	<author><![CDATA[illicopresta]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
