<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>1 Click ERP Illicopresta</title>
       
        <link href="themes/default/css/admin-theme.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../modules/erpillicopresta/css/bootstrap.css">
        <link rel="stylesheet" href="../modules/erpillicopresta/css/global.css">
    </head>
    <body>
        <div class="container center">
        	<div id="headerImg"><img src="../modules/erpillicopresta/img/LogoIllicoPresta.png" /> <img src="../modules/erpillicopresta/img/certified.png" /></div>
        	<br />
        	<p>Votre pack ne vous permet pas d'utiliser cette fonctionnalité</p>
        	<p>Veuillez vous rendre sur  <a href="http://www.illicopresta.com" target="_blank"> le site Illicopresta </a> pour mettre à jour votre licence au pack supérieur</p>
        	<hr class="hr_control" />
        	<p>Your pack does not allow you to use and display this feature</p>
        	<p>Please visit <a href="http://www.illicopresta.com/?lang=en" target="_blank"> Illicopresta Website </a> to upgrade your licence</p>

        	<br />
        	<form action="" method="">
        		<button class="btn btn-continue" href="index.php">Retour au Backoffice / Go back to the backoffice</button>
        	</form>
        </div>
    </body>
</html>
